:root {
  --white: rgb(255, 255, 255);
  --blue: rgb(76, 153, 255);
  --hover-blue: rgb(20, 111, 231);
  --red: rgb(255, 66, 66);
  --grey: rgb(55, 61, 71);
  --dark-grey: rgb(33, 37, 44);
  --light-grey: rgb(129, 129, 129);
  --text-grey: rgb(105, 108, 113);
  --font: 'Montserrat', sans-serif;
  --special-font: 'Lobster', cursive; 
}

body {
  margin: 0;
  background-color: rgba(0,0,0,0.05);
}

body::-webkit-scrollbar {
  display: none;
}

body, button, input {
  font-family: var(--font);
}

.root-container {
  margin: 0;
  padding: 0;
}