:root {
  --white: rgb(255, 255, 255);
  --blue: rgb(76, 153, 255);
  --hover-blue: rgb(20, 111, 231);
  --red: rgb(255, 66, 66);
  --grey: rgb(55, 61, 71);
  --dark-grey: rgb(33, 37, 44);
  --light-grey: rgb(129, 129, 129);
  --text-grey: rgb(105, 108, 113);
  --font: 'Montserrat', sans-serif;
  --special-font: 'Lobster', cursive; 
}

body {
  margin: 0;
  background-color: rgba(0,0,0,0.05);
}

body::-webkit-scrollbar {
  display: none;
}

body, button, input {
  font-family: var(--font);
}

.root-container {
  margin: 0;
  padding: 0;
}

.body-container {
  width: calc(100% - 90px);
  margin-left: 90px;
}

/* Navbar */

.navbar-container {
  width: 70px;
  position: fixed;
  height: 100%;
  padding-left: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
}

.navbar-header { 
  grid-area: 1 / 1 / 2 / 2; 
  text-align: center;
}

.navbar-nav { 
  grid-area: 2 / 1 / 5 / 2;
 }
 
.navbar-footer { 
  grid-area: 5 / 1 / 7 / 2; 
}

.navbar-logo {
  width: 100%;
  display: inline-block;
  padding: 10px 0px;
  font-family: var(--special-font);
  color: var(--light-grey);
  font-size: 40px;
}

.navbar-footer {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
}

.navbar-nav a {
  text-decoration: none;
}

.navItem {
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;  
  border-radius: 10px;
  color: var(--light-grey);
  font-size: 22px;
}

.navItem:hover, .navItem.active {
  background: var(--blue);
  color: var(--white);
  transition: 0.3s ease;
  cursor: pointer;
}

/* Home */

.graph-container {
  width: 70%;
  float: left;
}

.summary-container {
  width: 30%;
  background-color: var(--white);
  height: 100vh;
  float: left;
}

.container {
  padding: 20px;
}

/* Add Button */
.add-button {
  position: fixed;
  bottom: 30px;
  right: 30px;
  height: 70px;
  width: 70px;
  background-color: var(--blue);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;  
  color: var(--white);
  font-size: 22px;
}

.add-button:hover {
  cursor: pointer;
}