:root {
  --white: rgb(255, 255, 255);
  --blue: rgb(76, 153, 255);
  --hover-blue: rgb(20, 111, 231);
  --red: rgb(255, 66, 66);
  --grey: rgb(55, 61, 71);
  --dark-grey: rgb(33, 37, 44);
  --light-grey: rgb(129, 129, 129);
  --text-grey: rgb(105, 108, 113);
  --font: 'Montserrat', sans-serif;
  --special-font: 'Lobster', cursive; 
}

body {
  margin: 0;
  background-color: var(--white);
}

body::-webkit-scrollbar {
  display: none;
}

body, button, input {
  font-family: var(--font);
}

.root-container {
  margin: 0;
  padding: 0;
}

.body-container {
  width: calc(100% - 90px);
  margin-left: 90px;
}

/* Navbar */

.navbar-container {
  width: 70px;
  position: fixed;
  height: 100%;
  padding-left: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
}

.navbar-header { 
  grid-area: 1 / 1 / 2 / 2; 
  text-align: center;
}

.navbar-nav { 
  grid-area: 2 / 1 / 5 / 2;
 }
 
.navbar-footer { 
  grid-area: 5 / 1 / 7 / 2; 
}

.navbar-logo {
  width: 100%;
  display: inline-block;
  padding: 10px 0px;
  font-family: var(--special-font);
  color: var(--light-grey);
  font-size: 40px;
}

.navbar-footer {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
}

.navbar-nav a {
  text-decoration: none;
}

.navItem {
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;  
  border-radius: 10px;
  color: var(--light-grey);
  font-size: 22px;
}

.navItem:hover, .navItem.active {
  background: var(--blue);
  color: var(--white);
  transition: 0.3s ease;
  cursor: pointer;
}

/* Home */

.left-container {
  width: 75%;
  float: left;
}

.right-container {
  width: 25%;
  background-color: rgba(0,0,0,0.05);
  height: 100vh;
  float: left;
  overflow: scroll;
  /* padding-bottom: 10px; */
}

.right-container::-webkit-scrollbar {
  display: none;
}

.container {
  padding: 30px;
}

/* Add Expense */
.add-button {
  position: fixed;
  bottom: 30px;
  right: 30px;
  height: 70px;
  width: 70px;
  background-color: var(--blue);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;  
  color: var(--white);
  font-size: 22px;
}

.add-button:hover {
  cursor: pointer;
}

.add-expense-container {
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.add-expense-close {
  position: absolute;
  right: 40px;
  top: 30px;
  color: var(--white);
  font-size: 25px;
}

.add-expense-close:hover {
  cursor: pointer;
}

.add-expense-box {
  min-height: 250px;
  width: 300px;
  border-radius: 10px;
  background-color: var(--white);
  padding: 30px 15px;
}

.add-expense-box-title {
  font-size: 18px;
  font-weight: 700;
  color: var(--light-grey);
  letter-spacing: 1px;
}

/* Add Form */

.hide {
  display: none;
}

.add-expense-form-container {
  margin-top: 15px;
}

.add-expense-input {
  margin: 10px;
  padding: 8px ;
  width: 80%;
  border-radius: 5px;
  border: 2px solid rgba(0,0,0,0.1);
  text-align: center;
}

.add-expense-input::placeholder {
  color: rgba(0,0,0,0.3);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1px;
}

.add-expense-submit {
  border: 0;
  padding: 8px;
  border-radius: 5px;
  background-color: var(--blue);
  color: var(--white);
  transition: 0.3s ease;
  margin-top: 10px;
  font-size: 15px;
  width: 86%;
}

.add-expense-submit:hover {
  cursor: pointer;
}

.add-input-error {
  font-size: 13px;
  color: var(--red);
  display: block;
}

/* Recent Expenses */

.recent-container {
  margin-top: 25px;
}

.recent-title {
  font-weight: 700;
  color: var(--grey);
  letter-spacing: 1px;
  padding-bottom: 20px;
  font-size: 18px;
}

.expense-card {
  /* min-height: 70px; */
  width: 100%;
  background-color: var(--white);
  border-radius: 10px;
  margin: 20px 0px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  display: grid;
  grid-template-columns: 60% 40%;
}

.expense-card-details {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  padding: 20px;
}

.expense-card-tags {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: flex-end;
  padding-right: 30px;
}

.expense-card-title {
  font-size: 17px;
  font-weight: 700;
  display: block;
}

.expense-card-date {
  color: rgba(0,0,0,0.3);
  letter-spacing: 1px;
  display: block;
  font-size: 13px;
}

.expense-card-remarks {
  color: var(--light-grey);
  display: block;
  margin-bottom: 3px;
  font-size: 14px;
}

.expense-card-tag {
  padding: 6px 11px;
  border-radius: 30px;
  font-size: 13px;
  color: var(--white);
}

/* Top Stats Container  */

.top-stats-container {
  /* background-color: var(--blue); */
}

.stats-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  min-height: 120px;
  grid-gap: 30px;
}

.stats-grid div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);

}

.stats-one {

}

.stats-two {

}

.stats-three {

}

.stats-four {

}


.currency {
  color: var(--blue);
  font-size: 16px;
  margin-right: 5px;
}

.amount {
  font-size: 35px;
  margin-right: 20px;
}

.stat-label {
  color: var(--light-grey);
}